.container-header {
	display: inline;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-around;
}
.logo {
	display: inline-block;
	font-size: 50px;
}
.menu {
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}
.menu-item{
	align-self: flex-end;
	margin: 0 50px;
	font-size: 25px;
}

#tests{
	display: block;
	margin-left: 15%;
margin-right: 15%;
width: 70%;
align-content: center;
justify-content: center;
}

th {
	font-weight: bold;
	color: #4682B4;
}

#insertTest{
	display: none;
}